
.header_logo{
    height: 50px;
}
.text_header{
    color: white !important;
}
.btn-login-header{
    margin-left: 10px;
}
.title-card-backgroud{

}
.card-text{
    margin: 2px 0px;
    font-size: 1rem;
}
.btn-header-search:hover{
    background-color: green !important;
    color: black !important;
}
.btn-header-login:hover{
    background-color: #ffc107 !important;
    color: white !important;
}

.input_search_tour_row{
    color:#9C9B7B;
    box-shadow: 0px 0px 5px 3px #13c5ac;
}
.input_search_tour_row .dropdown{
    padding: 1rem 5px !important;
    background-color: #f2f3f7;
}
.button_insert_tour{
    display: flex;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}

.input_search_nav{
    margin-top: 4vh;
    border: 1px solid #F2F3F7;
    padding:10px 0px;
    border-radius: 4px;
    color: green;
    font-weight: 700;
    background-color: #F2F3F7;
    font-size: 1.3vw;
    box-shadow: 0px 0px 25px 5px #c6c3d6;
}


/* Footer */
.footer{
    background-color: #09BAA0;
}
.title_footer{
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    /* padding-right: 8px; */
    margin-right: 10px;
    color: aqua;
    width: 90% !important;
}
.list_contact{
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: 90%;
}
.list_contact_item{
    font-size: 12px;
}
.title_footer_right{
    font-size: 14px;
    color: yellow;
    padding-bottom: 10px;
    margin-top: 5px;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 992px) {
    .image_footer{
        display:none;
    }    
}