.body {
  background-color: rgb(216, 213, 213);
  font-weight: 500;
}
/* Sản phẩm */
.list_tour_title {
  font-weight: 700;
  color: green !important;
  padding-top: 0px !important;
}
.list_tour_text {
  color: rgb(104, 190, 104) !important;
  font-size: 14px;
  font-weight: 700;
}
.list_tour_text:hover {
  cursor: pointer;
}
@media only screen and (max-width: 735px) {
  .input_search_tour {
    display: none;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: #fd5056;
  margin-bottom: 0;
  width: fit-content;
}
.text {
  color: #2d429f;
  width: fit-content;
  font-weight: 700;
  font-size: 16px;
}
.dateTime {
  width: fit-content;
  font-size: 12px;
  color: #8d8d8d;
}
.title_similar {
  font-size: 32px;
  font-weight: 600;
  width: fit-content;
  color: #2d429f;
  margin-bottom: 5px;
}
.text_similar {
  font-size: 14px;
  width: fit-content;
  font-weight: 700;
  color: #fd5056;
}
.dateTime_similar {
  font-size: 16px;
  width: fit-content;
  color: #2d429f;
  font-weight: 500;
}
.redBlue:hover {
  color: #2d429f;
  cursor: pointer;
}
.blue:hover {
  color: #0633fa;
  cursor: pointer;
}
.abc {
  margin-top: 0;
}
@media only screen and (max-width: 1999px) {
  .abc {
    /* margin-top: 3rem; */
  }
}
