.body{
    background-color: rgb(216, 213, 213);
    font-weight: 500;
}

/* Sản phẩm */
.list_tour_title{
    font-weight: 700;
    color: green !important;
    padding-top:0px !important;
}
.list_tour_text{
    color: rgb(104, 190, 104) !important;
    font-size: 14px;
    font-weight: 700;
}
.list_tour_text:hover{
    cursor: pointer;
}
.product{}



/*  */
.list_detail{
    font-size: 18px;
    list-style: none;
    padding: 0;
}
.list_detail_item_title{
    font-weight: 600;
}
.list_detail_item_text{
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 3vh;
    font-size: 16px;
}
.button_pd_detail{
    width: 12vw;
    height: 7vh;
    font-weight: 600;
    font-size: 18px;
}
.button_pd_detail:hover{
    cursor: pointer !important;
    border-color: green !important;
    background-color: green !important;
}
.list_review_detail_tour_item{
    
}
@media only screen and (max-width: 735px) {
    .input_search_tour{
        display:none;
    }    
}